{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/mylogo.png' %}" type="image/png">
    <title>BLUENAR</title>
    <link rel="stylesheet" href="{% static 'css/belen1.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <img src="{% static 'img/mylogo.png' %}" alt="Logo" width="125" height="75">
            <div class="menu-toggle">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <div class="navigation">
                <a href="#home">Home</a>
                <a href="#intro">Intro</a>
                <a href="#portfolio">Portfolio</a>
                <a href="#contact">Contact</a>
            </div>
        </div>
    </nav>
    
    <div class="bluenarr">
        <h2 id="text">BLUENAR</h2>
    </div>
    
    <section class="parallax" id="home">
        <img src="{% static 'img/sky.png' %}" alt="Sky" id="sky">
        <img src="{% static 'img/moon.png' %}" alt="Moon" id="moon">
        <img src="{% static 'img/mountain.png' %}" alt="Right Mountain" id="right">
        <img src="{% static 'img/left-mountain.png' %}" alt="Left Mountain" id="left">
        <img src="{% static 'img/mountain.png' %}" alt="Mountain" id="mountain">
    </section>

    <section class="bluenar-section">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </section>

    <!-- Carousel Section -->
    <div class="info-container">
        <div class="content-container">
            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel" data-bs-wrap="true">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="3" aria-label="Slide 4"></button>
                    <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="4" aria-label="Slide 5"></button>
                    <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="5" aria-label="Slide 6"></button>
                    <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="6" aria-label="Slide 7"></button>
                    <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="7" aria-label="Slide 0"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="3000">
                        <img src="{% static '/img/cath-1.png' %}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" data-bs-interval="3000">
                        <img src="{% static '/img/cath-2.png' %}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" data-bs-interval="3000">
                        <img src="{% static '/img/cath-3.png' %}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" data-bs-interval="3000">
                        <img src="{% static '/img/cath-4.png' %}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" data-bs-interval="3000">
                        <img src="{% static '/img/cath-5.png' %}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" data-bs-interval="3000">
                        <img src="{% static '/img/cath-6.png' %}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" data-bs-interval="3000">
                        <img src="{% static '/img/cath-7.png' %}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" data-bs-interval="3000">
                        <img src="{% static '/img/cath-8.png' %}" class="d-block w-100" alt="...">
                    </div>
        
            </div>
                <div class="carousel-controls">
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>

            <div class="sec" id="intro">
                <h2>&#10024;<b>Hello Blueverse!<br>Enjoy reading my introduction</b>&#10024;</h2>
                <div class="sec-container">
                    <p>
                        I'm Catherine N. Belen or call me Cath for short. I'm 22 years old. 
                        My hobbies are drawing, playing mobile games, and singing. 
                        I like exploring new places and traveling. I dislike extreme weather conditions. 
                        My favorites include "He's into Her" by Maxinejiji from Wattpad, "Saw" horror movie series, 
                        burgers, the colors blue and purple, Japan, Korea, and France, OPM, Yoasobi songs, 
                        Taylor Swift's songs, and Bruno Mars's songs, as well as archery, badminton, and volleyball.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="skills-container">
        <div class="goals-container">
            <div class="goals">
                <h2>GOALS</h2>
                <p>My goals are to improve my grades, obtain professional certification, achieve a healthier lifestyle, improve time management, and develop my self-confidence.</p>
            </div>
        </div>
        <div class="motto-container">
            <div class="motto">
                <h2>MOTTO</h2>
                <p>My motto is "believe and love yourself most of the time". This is encourages on me prioritizing my own well-being and self-esteem, which is important for my personal growth and happiness.</p>
            </div>
        </div>
    </div>

    <div id="portfolio">
        <div id="card-area">
            <div class="wrapper">  
                <div class="box1-area">
                    <div class="box1">
                    <img src="{% static 'img/my-portfolio/gec6-pic-1.jpg' %}" alt="" width="250" height="180">
                    <div class="overlay">
                    <h5><b>My Favorite Scene</b></h5>
                    <p>I pick the movie of Hotarubi no Mori e.
                            This is when we draw our favorite scene and relate to my personal experience.</p>
                    </div>
                </div>
                <div class="box1">
                    <img src="{% static 'img/my-portfolio/gec6-pic-2.jpg' %}" alt="">
                    <div class="overlay">
                    <h5><b>Social Issue Poster Making</b></h5>
                    <p>I pick the social issue of water pollution.
                        This is when we create our poster making using digital art.</p>
                    </div>
                </div>
                <div class="box1">
                    <img src="{% static 'img/my-portfolio/gec6-pic-3.jpg' %}" alt="">
                    <div class="overlay">
                    <h5><b>Mosaic</b></h5>
                    <p>I pick the bicycle as part of still life art.
                        This is when we create our mosaic using old magazine.</p>
                    </div>
                </div>
                <div class="box1">
                    <img src="{% static 'img/my-portfolio/gec6-pic-4.jpg' %}" alt="">
                    <div class="overlay">
                    <h5><b>Pictorial of Greek Goddess</b></h5>
                    <p>I pick Artemis as Greek Goddess of Bow.
                        This is when we have our pictorial to copy the posture and the image of our chosen Greek God and Goddess.</p>
                    </div>
                </div>
                <div class="box1">
                    <img src="{% static 'img/my-portfolio/gec6-pic-5.jpg' %}" alt="">
                    <div class="overlay">
                    <h5><b>Redesign Movie Poster</b></h5>
                    <p>I pick the movie poster of Beauty and the Beast from Disney movies.
                        This is when we assigned to create our own redesign of movie poster with the use of elements of art, etc.</p>
                    </div>
                </div>
                <div class="box1">
                    <img src="{% static 'img/my-portfolio/gec6-pic-6.jpg' %}" alt="">
                    <div class="overlay">
                    <h5><b>Journal Writing Activity</b></h5>
                    <p>I pick this design because its cute.
                        This is when we create our journal on what is your opinion on the artist play in our society 21st century today.</p>
                    </div>
                </div>
                <div class="box1">
                    <img src="{% static 'img/my-portfolio/gec6-pic-7.jpg' %}" alt="">
                    <div class="overlay">
                    <h5><b>Famous Artist Painter</b></h5>
                    <p>I pick the Van Gogh as my partner and i decide it.
                        This is when we create our chosen famous artist painter as we painting on our own hands.</p>
                    </div>
                </div>
                <div class="box1">
                    <img src="{% static 'img/my-portfolio/gec6-pic-8.jpg' %}" alt="">
                    <div class="overlay">
                    <h5><b>Letras Y Figuras</b></h5>
                    <p>I pick the CATH as my nickname reference.
                        This is when we create our letras y figuras using color pencil or paint that signifies on my personality.</p>
                    </div>
                </div>
                <div class="box1">
                    <img src="{% static 'img/my-portfolio/gec6-pic-9.jpg' %}" alt="">
                    <div class="overlay">
                    <h5><b>Still Life</b></h5>
                    <p>I pick fruits like banana and apples.
                        This is when we create our own still life using any color materials in utilizing our own paper making.</p>
                    </div>
                </div>
                <div class="box1">
                    <img src="{% static 'img/my-portfolio/afa-pic-1.png' %}" alt="">
                    <div class="overlay">
                    <h5><b>Harvesting Pechay</b></h5>
                    <p>This is when we create our Vegetable Production Using SNAP (Simple Nutrient Addition Program)
                        Hydroponics SYSTEM.</p>
                    </div>
                </div>
                <div class="box1">
                    <img src="{% static 'img/my-portfolio/afa-pic-2.png' %}" alt="">
                    <div class="overlay">
                    <h5><b>Harvesting Chinese Kangkong</b></h5>
                    <p>This is when we create our Vegetable Production Using SNAP (Simple Nutrient Addition Program)
                        Hydroponics SYSTEM.</p>
                    </div>
                </div>
                <div class="box1">
                    <img src="{% static 'img/my-portfolio/gec1-pic-1.png' %}" alt="">
                    <div class="overlay">
                    <h5><b>Collage 1</b></h5>
                    <p>This is when i create a collage of my treasured possessions.
                        I put a short note with the reason behind it and how i treasure each item.</p>
                    </div>
                </div>
                <div class="box1">
                    <img src="{% static 'img/my-portfolio/gec1-pic-2.png' %}" alt="">
                    <div class="overlay">
                    <h5><b>Collage 2</b></h5>
                    <p>This is when i create a collage using word clouds and other items that reflect who am i.</p>
                    </div>
                </div>
                <div class="box1">
                    <img src="{% static 'img/my-portfolio/ia-metal-works-pic-1.png' %}" alt="">
                    <div class="overlay">
                    <h5><b>PPE</b></h5>
                    <p>This is when i create myself wear a Personal Protective Equipment. 
                        I editing my photo in Picsart application.</p>
                    </div>
                </div>
                <div class="box1">
                    <img src="{% static 'img/my-portfolio/ia-metal-works-pic-2.png' %}" alt="">
                    <div class="overlay">
                    <h5><b>Gear Clock</b></h5>
                    <p>This is when i and my partner create a finish work of our gear clock in metal works.</p>
                    </div>
                </div>
                <div class="box1">
                    <img src="{% static 'img/my-portfolio/he-pic-1.png' %}" alt="">
                    <div class="overlay">
                    <h5><b>Clothing Handicraft</b></h5>
                    <p>This is when i and my partner create a finish work of our gear clock in metal works.</p>
                    </div>
                </div>
                <div class="box1">
                    <img src="{% static 'img/my-portfolio/he-pic-2.png' %}" alt="">
                    <div class="overlay">
                    <h5><b>Jewelry</b></h5>
                    <p>This is when i create a DIY Emerald flower necklace made in PET bottles.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <div class="contact-container">
        <div id="contact" class="profile-card">
            <div class="info-box">
                <img src="{% static 'img/cath.jpg' %}" alt="Catherine Belen">
                <div class="info">
                    <h2>Catherine Belen</h2>
                    <p>Web Developer</p>
                </div>
                <div class="socials">
                    <a href="https://www.facebook.com/catzxie"><i class='bx bxl-facebook'></i></a>
                    <a href="https://www.instagram.com/ctrn_bln/"><i class='bx bxl-instagram'></i></a>
                    <a href="https://twitter.com/catzxie"><i class='bx bxl-twitter'></i></a>
                </div>
            </div>

            <div class="numbers-grid">
                <div class="box">
                    <p>53</p>
                    <p>Posts</p>
                </div>
                <div class="box">
                    <p>150</p>
                    <p>Followers</p>
                </div>
                <div class="box">
                    <p>169</p>
                    <p>Following</p>
                </div>
            </div>

            <div class="btn-box">
                <a href="/">THANK YOU!</a>
            </div>
        </div>
    </div>

    <script>
        document.querySelector('.menu-toggle').addEventListener('click', function() {
            this.classList.toggle('open');
        });
    </script>
    

    <script src="{% static 'JS/carousel.js' %}"></script>
    <script src="{% static 'JS/meteor.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>